{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load my_filters %}

{% block extra_css %}
<style>
* {
    box-sizing: border-box;
}

#search-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search-list li a {
    border: 1px solid #ddd;
    border-radius:4px 4px 4px 4px;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 3px;
    text-decoration: none;
    color: black;
    display: block;
}

#search-list li a:hover:not(.header) {
    background-color: #e0e0e0;
}
</style>
{% endblock extra_css %}

{% block extra_head %}
<script>
function scroll_alt() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("search-genre");
    filter = input.value.toUpperCase();
    ul = document.getElementById("search-list");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            if (li[i].id != "immune"){
                li[i].style.display = "none";
            }
        }
    }
}

function search_key_press(e) {
    if(e.keyCode === 13){
        e.preventDefault();
        return false;
    }
}
</script>
{% endblock extra_head %}

{% block bodyclass %}landing-page sidebar-collapse{% endblock bodyclass %}
{% block body %}
    <!-- Navbar -->
    {% include "html_parts/navbar1.html" with color_on_scroll="400" navbar_class="" %}
    <!-- End Navbar -->
    {% include "html_parts/message_banner.html" %}

    <div class="wrapper">
        <div class="page-header page-header-medium">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'events/assets/img/bg20.jpg' %}');"></div>
            <div class="container">
                <div class="content-center">
                    <div class="row">
                        <div class="card card-round-raised" data-background-color="slategray">
                            <form class="form" method="" action="{% url 'artists' %}">
                                {% csrf_token %}
                                <div class="header text-center justify-content-center">
                                    <h4 class="title title-up"><label for="search-genre">Sök efter din favoritgenre eller artist</label></h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                                        </span>
                                        <input type="text" class="form-control" id="search-genre" onkeyup="scroll_alt()" onkeypress="search_key_press(event)" placeholder="Ex. Pop, Rock eller A$AP Rocky">
                                    </div>
                                    <ul id="search-list">
                                        <a href="{% url 'all_events' %}" class="btn btn-neutral btn-lg" role="button" aria-disabled="false">Hitta evenemang</a>
                                    {% if genres != None %}
                                        {% for genre in genres %}
                                            <li><a href="{% url 'all_events' %}?search={{ genre.name }}" style="color:#3f3f3f">{{ genre.name|title }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start our offerings section -->
        <div class="section section-tabs" id="our-offerings">
            <div class="container">
                <div class="row">
                {% for genre in genres %}
                    <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
                        <!-- Tabs with Background on Card -->
                        <div class="card" style="cursor:pointer;" onclick="window.location='{% url 'all_events' %}?search={{ genre.name }}'">
                            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                <li class="nav-item">
                                    <a class="nav-link"><strong>{{ genre.name|upper }}</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active"><i class="now-ui-icons objects_spaceship"></i> {{ event_dict|lookup_dict:genre.name|length }} Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active"><i class="now-ui-icons users_single-02"></i> {{ artist_dict|lookup_dict:genre.name|length }} Artists</a>
                                </li>
                            </ul>
                            <div class="card-body" style="height:250px; background-image: url('{% static 'events/assets/img/genre/'|add:genre.name|add:'_small_banner.jpg' %}');">
                            </div>
                        </div>
                        <!-- End Tabs on plain Card -->
                    </div>
                {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- End our offerings section -->

        <!-- Start about us section-->
        <div class="sidewise section section-about-us" id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">The artists you dream of.</h2>
                        <h5 class="description"><strong>Crowdfund your favourite artists to see them at a venue near you!</strong></h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('{% static 'events/assets/img/genre/concert1.jpg' %}')">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"Q1 helped us spread our music and passion to new people and crowds. Large parts of our fanbase would not be with us today if it were not for Q1."
                                    <br />
                                    <br />
                                    <small>-Einar Wiman</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right" style="background-image: url('{% static 'events/assets/img/genre/concert2.jpg' %}')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End about us section-->
        {% block signup_form %}
        {% endblock signup_form %}

        <!-- Start work with us section -->
        {% if user.is_authenticated %}
        <div class="section section-contact-us text-center" id="work-with-us">
            <div class="container">
                <h2 class="title">{% trans 'Du är just nu inloggad som' %}</h2>
                <h3>{{ user.artist.first_name }} {{ user.artist.last_name }}</h3>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="send-button">
                            <a href="{% url 'my_profile' %}" class="btn btn-primary btn-round btn-block btn-lg">{% trans 'Till din profil' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="section section-contact-us text-center" id="work-with-us">
            <div class="container">
                <h2 class="title">{% trans 'Artist? Start work with us for free today!' %}</h2>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="send-button">
                            <a href="{% url 'artist_signup' %}" class="btn btn-primary btn-round btn-block btn-lg" style="background-color:#2CA8FF;">{% trans 'Artist signup' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- End work with us section -->

        <!-- Start modals -->
        {% block user_activation_modal %}{% endblock user_activation_modal %}
        {% block verification_sent_modal %}{% endblock verification_sent_modal %}
        {% block signup_closed_modal %}{% endblock signup_closed_modal %}
        {% block password_set_modal %}{% endblock password_set_modal %}
        {% block password_reset_modal %}{% endblock password_reset_modal %}
        {% block password_reset_from_key_modal %}{% endblock password_reset_from_key_modal %}
        {% block password_reset_from_key_done_modal %}{% endblock password_reset_from_key_done_modal %}
        {% block password_reset_done_modal %}{% endblock password_reset_done_modal %}
        {% block email_confirm_modal %}{% endblock email_confirm_modal %}
        {% block logout_modal %}{% endblock logout_modal %}
        {% block account_inactive_modal %}{% endblock account_inactive_modal %}
        <!-- End modals -->

        {% include "html_parts/footer.html" %}
    </div>
{% endblock body %}
