{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head %}
{% endblock extra_head %}

{% block bodyclass %}profile-page sidebar-collapse{% endblock bodyclass %}
{% block body %}
    <!-- Navbar -->
    {% include "html_parts/navbar1.html" with color_on_scroll="400" navbar_class="navbar-transparent" %}
    <!-- End Navbar -->
    {% include "html_parts/message_banner.html" %}

    <div class="wrapper">
        {% if profile %}
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'events/assets/img/bg5.jpg' %}');"></div>
            <div class="container">
                <div class="content-center" style="margin-top:36px;">
                    <div class="photo-container">
                        {% if profile.profile_picture %}
                            <img src="{{ profile.profile_picture.url }}">
                        {% else %}
                            <img src="{% static 'events/assets/img/placeholder.png'%}">
                        {% endif %}
                    </div>
                    <h3 class="title" style="margin-top:0px; padding:0px;">{{ profile.first_name|title }} {{ profile.last_name|title }}</h3>
                    <p class="category">
                        {% if genre %}
                            {{ genre.name }}
                        {% endif %}
                    </p>
                    <div class="content">
                        {% if profile %}
                            <div class="social-description">
                                <h2>{{ followers }}</h2>
                                <p>Följare</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        {% if genre and this_user != profile.user and profile.user.artist %}
        <div class="sidewise section section-contact-us text-center">
	  <!-- Boost begin -->
	  <div class="container">
      {% if this_user != profile.user %}
		  {% include "boost_button.html" %}
	  </div>
  	  <!-- Boost end -->
                <div class="container">
                        {% if following == False %}
                            <form action="{% url 'follow' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ profile.user.id }}">
                                <div class="button-container">
                                    <input type="submit" class="btn btn-primary btn-round btn-lg" style="background-color:#2CA8FF;"value="Follow">
                                </div>
                            </form>
                        {% else %}
                            <form action="{% url 'unfollow' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ profile.user.id }}">
                                <div class="button-container">
                                    <input type="submit" class="btn btn-primary btn-round btn-lg" style="background-color:#2CA8FF;" value="Avfölj">
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="section">
            <div class="container">
                {% if this_user == profile.user %}
                    <div class="button-container">
                        <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-round btn-lg">Edit profile</a>
                        <a href="{% url 'data' %}" class="btn btn-primary btn-round btn-lg">Statistics</a>

                    </div>
                {% endif %}
                {% if profile.description %}
                    <h3 class="title" id="about-me">Om {{ profile.first_name }}</h3>
                    <div class="text-center">
                      <h5 class="description">{{ profile.description }}</h5>
                    </div>
                {% endif %}
            </div>
        </div>
        {% elif error_message %}
            <div class="page-header page-header-small" filter-color="orange">
                <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'events/assets/img/bg5.jpg' %}');">
                </div>
                <div class="container">
                    <div class="content-center">
                        <div class="photo-container">
                            <img src="{% static 'events/assets/img/placeholder.png' %}">
                        </div>
                        <h3 class="title">{{ error_message }}</h3>
                    </div>
                </div>
            </div>
        {% endif %}
        {% include "html_parts/footer.html" %}
    </div>
{% endblock body %}
